
body,
  html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.grid-container[data-v-8d75f73c] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
}
.cell[data-v-8d75f73c] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
}
.big[data-v-8d75f73c] {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border: 1px solid #ccc;
}
.small[data-v-8d75f73c]:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
}
.small[data-v-8d75f73c]:nth-child(3) {
    grid-column: 4;
    grid-row: 1;
}
.small[data-v-8d75f73c]:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}
.small[data-v-8d75f73c]:nth-child(5) {
    grid-column: 4;
    grid-row: 2;
}
.small[data-v-8d75f73c]:nth-child(6) {
    grid-column: 1;
    grid-row: 2;
}
.small[data-v-8d75f73c]:nth-child(7) {
    grid-column: 2;
    grid-row: 2;
}
.map-label[data-v-8d75f73c] {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: dotted underline;
    color: dimgray;
}
@media (max-width: 1024px) {
.grid-container[data-v-8d75f73c] {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 10px;
}
.big[data-v-8d75f73c] {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
}
.small[data-v-8d75f73c] {
      grid-column: 1 / 3 !important;
}
.small[data-v-8d75f73c]:nth-child(2) {
      grid-row: 2;
}
.small[data-v-8d75f73c]:nth-child(3) {
      grid-row: 3;
}
.small[data-v-8d75f73c]:nth-child(4) {
      grid-row: 4;
}
.small[data-v-8d75f73c]:nth-child(5) {
      grid-row: 5;
}
.small[data-v-8d75f73c]:nth-child(6) {
      grid-row: 6;
}
.small[data-v-8d75f73c]:nth-child(7) {
      grid-row: 7;
}
.small[data-v-8d75f73c]:nth-child(8) {
      grid-row: 8;
}
.small[data-v-8d75f73c]:nth-child(9) {
      grid-row: 9;
}
.small[data-v-8d75f73c]:nth-child(10) {
      grid-row: 10;
}
.small[data-v-8d75f73c]:nth-child(11) {
      grid-row: 11;
}
}
