
.v3mc-tooltip-wrapper[data-v-e8982a39] {
    display: inline-block;
    min-width: 150px;
    background-color: var(--bb2e32be);
    color: var(--42c7e9f9);
    padding: 10px;
    border-radius: 3px;
}
.v3mc-tooltip-label[data-v-e8982a39] {
    font-size: 16px;
    line-height: 20px;
}
.v3mc-tooltip-divider[data-v-e8982a39] {
    flex: 1;
    height: 0.5px;
    background-color: #333;
    margin: 5px 0;
}
.v3mc-tooltip-value[data-v-e8982a39] {
    font-weight: bold;
}

.v3mc-container[data-v-c7b40fcb] {
    padding: 5px;
    position: relative;
}
.v3mc-container[data-v-c7b40fcb],[data-v-c7b40fcb] .v3mc-map > svg {
    height: var(--aeed2890);
    width: var(--2f8f3d15);
}
[data-v-c7b40fcb] .v3mc-map > svg {
    stroke: var(--4f10f7ca);
    fill: var(--6a12c0a0);
    stroke-width: 0.4px;
}
[data-v-c7b40fcb] .v3mc-map > svg > path {
    cursor: var(--ab889d74);
}
[data-v-c7b40fcb] .v3mc-map > svg > path:hover {
    fill: var(--366ad94c);
    stroke: var(--0eceb9cf);
    stroke-width: 0.5px;
}
.v3mc-tooltip[data-v-c7b40fcb] {
    position: fixed;
    z-index: 10;
    top: var(--b41aa9f2);
    left: var(--b41aa9f4);
}
