
.v3mc-tooltip-wrapper[data-v-e8982a39] {
    display: inline-block;
    min-width: 150px;
    background-color: var(--bb2e32be);
    color: var(--42c7e9f9);
    padding: 10px;
    border-radius: 3px;
}
.v3mc-tooltip-label[data-v-e8982a39] {
    font-size: 16px;
    line-height: 20px;
}
.v3mc-tooltip-divider[data-v-e8982a39] {
    flex: 1;
    height: 0.5px;
    background-color: #333;
    margin: 5px 0;
}
.v3mc-tooltip-value[data-v-e8982a39] {
    font-weight: bold;
}

.v3mc-container[data-v-9168d050] {
    padding: 5px;
    position: relative;
}
.v3mc-container[data-v-9168d050],[data-v-9168d050] .v3mc-map > svg {
    height: var(--5d2c7c9e);
    width: var(--7773776f);
}
[data-v-9168d050] .v3mc-map > svg {
    stroke: var(--2aba6c01);
    fill: var(--607e4916);
    stroke-width: 0.4px;
}
[data-v-9168d050] .v3mc-map > svg > path {
    cursor: var(--6f54f1a0);
}
[data-v-9168d050] .v3mc-map > svg > path:hover {
    fill: var(--869a4c98);
    stroke: var(--e4825cae);
    stroke-width: 0.5px;
}
.v3mc-tooltip[data-v-9168d050] {
    position: fixed;
    z-index: 10;
    top: var(--83d5cb26);
    left: var(--83d5cb28);
}
