
.v3mc-tooltip-wrapper[data-v-e8982a39] {
    display: inline-block;
    min-width: 150px;
    background-color: var(--bb2e32be);
    color: var(--42c7e9f9);
    padding: 10px;
    border-radius: 3px;
}
.v3mc-tooltip-label[data-v-e8982a39] {
    font-size: 16px;
    line-height: 20px;
}
.v3mc-tooltip-divider[data-v-e8982a39] {
    flex: 1;
    height: 0.5px;
    background-color: #333;
    margin: 5px 0;
}
.v3mc-tooltip-value[data-v-e8982a39] {
    font-weight: bold;
}

.v3mc-container[data-v-23d587f9] {
    padding: 5px;
    position: relative;
}
.v3mc-container[data-v-23d587f9],[data-v-23d587f9] .v3mc-map > svg {
    height: var(--7fd0e8c1);
    width: var(--704f7aec);
}
[data-v-23d587f9] .v3mc-map > svg {
    stroke: var(--5a06bba4);
    fill: var(--5cd02579);
    stroke-width: 0.4px;
}
[data-v-23d587f9] .v3mc-map > svg > path {
    cursor: var(--022fafc6);
}
[data-v-23d587f9] .v3mc-map > svg > path:hover {
    fill: var(--43cb799e);
    stroke: var(--1a1c6034);
    stroke-width: 0.5px;
}
.v3mc-tooltip[data-v-23d587f9] {
    position: fixed;
    z-index: 10;
    top: var(--6d61ec60);
    left: var(--6d61ec62);
}
